<table class="" width="100%" cellpadding="6">
  <tr>
    <td class="right_line">
    <%= yield :content %>
    
     </td>
    <td width="30%">
    
    <%= yield :navigation %>
    
  </td>
  <tr>
</table>   
